MvcMovie/Migrations/201712150009300_MoviesSP2.resx
MvcMovie/Migrations/201712150009300_MoviesSP2.cs
MvcMovie/Migrations/201712150009300_MoviesSP2.Designer.cs
MvcMovie/Migrations/201712150007075_MoviesSP.resx
MvcMovie/Migrations/201712150007075_MoviesSP.cs
MvcMovie/Migrations/201712150007075_MoviesSP.Designer.cs
.vs/MvcMovie/v15/Server/sqlite3/db.lock
.vs/MvcMovie/v15/sqlite3/storage.ide-wal
.vs/MvcMovie/v15/sqlite3/storage.ide-shm
.vs/MvcMovie/v15/sqlite3/storage.ide
.vs/MvcMovie/v15/sqlite3/db.lock
.vs/MvcMovie/v15/Server/sqlite3/storage.ide-wal
.vs/MvcMovie/v15/Server/sqlite3/storage.ide-shm
.vs/MvcMovie/v15/Server/sqlite3/storage.ide
MvcMovie/obj/Debug/MvcMovie.csproj.CopyComplete
MvcMovie/obj/Debug/MvcMovie.Migrations.MoviesSP2.resources
MvcMovie/obj/Debug/MvcMovie.Migrations.MoviesSP.resources
MvcMovie/obj/Debug/MvcMovie.csproj.FileListAbsolute.txt
MvcMovie/bin/MvcMovie.dll.config
MvcMovie/MvcMovie.csproj
.vs/config/applicationhost.config
