@model MvcMovie.Models.Movie

@{
    ViewBag.Title = "Create";
}

<div ng-controller="CreateMovieCtrl" class="container">
    <h2>Add Movie</h2>
    <form novalidate class="simple-form">
        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" id="title" ng-model="Movie.Title" ng-model-options="{ getterSetter: true }" required/>
            <span class="label label-danger" data-ng-show="submitted && helpForm.name.$error.required">Required!</span>
        </div>

        <div class="form" name="form-group">
            <label for="Release Date">Release Date</label>
            <input type="text" class="form-control" id="releaseDate" ng-model="Movie.ReleaseDate" value="yyyy-mm-dd" name="realeasedate" date />
            <span class="label label-danger" ng-show="form.releasedate.$error.date">Enter release date as yyyy-mm-dd</span>
        </div>


        <div class="form-group">
            <label for="Genre">Genre</label>
            <select type="text" class="form-control" id="genre" ng-model="Movie.Genre">
                <option ng-repeat="genre in availableGenres">{{genre.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Price">Price</label>
            <input type="text" class="form-control" id="price" ng-model="Movie.Price"/>
        </div>
        <div class="form-group">
            <label for="Rating">Rating</label>
            <input type="text" class="form-control" id="rating" ng-model="Movie.Rating"/>
        </div>
       

        <button data-ng-disabled="progress.active()" type="submit" ng-click="create(Movie)" class="btn btn-success">Submit</button>
    </form>
</div>




@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
