
@model MvcMovie.Models.Movie


@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div ng-controller="MediaDetailCtrl">
	<h2>{{media.Title}}</h2>
	<div>
		<p><strong>Director:&nbsp;</strong>{{ media.Director }}</p>
	</div>
	<div>
		<p><strong>Release Date:&nbsp;</strong>{{ media.ReleaseDate | date: longdate }}</p>
	</div>
	<div>
		<p><strong>Genre:&nbsp;</strong>{{  media.Genre }}
	</div>
	<div>
		<p><strong>Price:&nbsp;</strong>{{  media.Price | currency}}
	</div>
	<div>
		<p><strong>Rating:&nbsp;</strong>{{ media.Rating}}
	</div>
	<p>
		@*@Html.ActionLink("Edit", "Edit", new { id = Model.MovieID }) |*@
		<button ng-model="button" go-click={{backToMoviesButton}}  class="btn btn-primary">Back to Movies</button>
	</p>

</div>
