@model MvcMovie.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div ng-controller="MovieDetailCtrl">
    <h2>{{movie.Title}}</h2>

    <form>
        <div class="form-group">


            @*Genre: @Html.DropDownList("movieGenre", "All")
                Title: @Html.TextBox("SearchString") <br />
                <input type="submit" value="Filter" />*@


        </div>
    </form>
  
       
                <div>{{ movie.ReleaseDate | date: 'yyyy-mm-dd' }}</div>
                <div>{{  movie.Genre }}</div>
                <div>{{  movie.Price | currency}}</div>
                <div>{{ movie.Rating}}</div>
            
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.MovieID }) |*@
    <button ng-href="/Movies/Index">Back to Movies</button>
</p>

</div>
