@model MvcMovie.Models.Book

@{
	ViewBag.Title = "Create";
}

<div ng-controller="CreateMediaCtrl" class="container">
	<h2>Add Book</h2>
	<div id="messages" class="alert alert-success" ng-show="messages" ng-bind="messages"></div>
	<div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Sending…</div>
	<form class="simple-form" name="createForm" novalidate>
		<div class="form-group" ng-class="{ 'has-error' : createForm.Title.$invalid || createForm.Title.$pristine }">
			<label>Title</label>
			<input type="text" class="form-control" id="title" ng-model="Book.Title" name="Title" required />
			<p class="label label-danger" ng-show="createForm.Title.$invalid || createForm.Title.$pristine">Required!</p>
		</div>

		<div class="form-group">
			<label for="Author">Author</label>
			<input type="text" class="form-control" id="rating" ng-model="Book.Author" />
		</div>

		<div class="form-group" name="createForm" ng-class="{ 'has-error' : createForm.ReleaseDate.$invalid && !createForm.ReleaseDate.$pristine }">
			<label>Release Date</label>
			<input type="date" class="form-control" name="releaseDate" ng-model="Book.ReleaseDate" placeholder="yyyy-mm-dd" min="1800-01-01" />
			<span class="label label-danger" ng-show="helpForm.Book.Releasedate.$error.date">Date must be entered as yyyy-MM-dd</span>
		</div>


		<div class="form-group">
			<label for="Genre">Genre</label>
			<select type="text" class="form-control" id="genre" ng-model="Book.Genre">
				<option ng-repeat="genre in availableGenres" value="{{genre.name}}">{{genre.name}}</option>
			</select>
		</div>

		<div class="form-group" name="createForm" ng-class="{ 'has-error' : createForm.Price.$invalid && !createForm.Price.$pristine }">
			<label for="Price">Price</label>
			<input type="number" class="form-control" id="price" ng-model=Book.Price>
		</div>

		<button ng-disabled="createForm.$invalid" type="submit" ng-click="submit(Book)" class="btn btn-default">Submit</button>
	</form>
</div>




@*<div>
		@Html.ActionLink("Back to List", "Index")
	</div>*@

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
