@model MvcMovie.Models.Book

@{
	ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this book?</h3>
<div ng-controller="MediaDetailCtrl">
	<h2>{{media.Title}}</h2>
	<div>
		<p><strong>Director:&nbsp;</strong>{{ media.Author }}</p>
	</div>
	<div>
		<p><strong>Date Published:&nbsp;</strong>{{ media.DatePublished | date: "longDate" }}</p>
	</div>
	<div>
		<p><strong>Genre:&nbsp;</strong>{{  media.Genre }}
	</div>
	<div>
		<p><strong>Price:&nbsp;</strong>{{  media.Price | currency}}
	</div>
	<p>
		<button type="submit" ng-click="delete('Books', media.ID)" class="btn btn-success">Delete Book</button>
		<button ng-model="button" go-click={{backToBooksButton}} class="btn btn-default">Back to Books</button>
	</p>

</div>


