
@model MvcMovie.Models.Book


@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div ng-controller="MediaDetailCtrl">
	<h2>{{media.Title}}</h2>
	<div>
		<p><strong>Author:&nbsp;</strong>{{ media.Author }}</p>
	</div>
	<div>
		<p><strong>Publish Date:&nbsp;</strong>{{ media.DatePublished | date: "longDate" }}</p>
	</div>
	<div>
		<p><strong>Genre:&nbsp;</strong>{{  media.Genre }}
	</div>
	<div>
		<p><strong>Price:&nbsp;</strong>{{  media.Price | currency}}
	</div>
	<p>
		<button ng-model="button" go-click={{backToBooksButton}} class="btn btn-primary">Back to Books</button>
	</p>

</div>
