@model MvcMovie.Models.Book

@{
	ViewBag.Title = "Edit";
}
<div ng-controller="MediaDetailCtrl" class="container">
	<h2>Edit Details of This Book</h2>
	<form novalidate class="simple-form">
		<div class="form-group">
			<label for="Title">Title</label>
			<input type="text" class="form-control" id="title" ng-model="media.Title" ng-model-options="{ getterSetter: true }" required />
		</div>

		<div class="form-group">
			<label for="Director">Author</label>
			<input type="text" class="form-control" id="author" ng-model="media.Author" />
		</div>

		<div class="form" name="form-group">
			<label for="Release Date">Release Date</label>
			<input type="date" class="form-control" id="releaseDate" ng-model="media.DatePublished" name="DatePublished" date />
			<span ng-show="form.DatePublished.$error.date">Use yyyy-mm-dd for release date</span>
		</div>
		<div class="form-group">
			<label for="Genre">Genre</label>
			<input type="text" class="form-control" id="genre" ng-model="media.Genre" />
		</div>
		<div class="form-group">
			<label for="Price">Price</label>
			<input type="text" class="form-control" id="price" ng-model="media.Price" />
		</div>
		<button type="submit" ng-click="update('Books', media)" class="btn btn-success">Submit</button>
		<button ng-model="button" go-click={{backToBooksButton}} class="btn btn-primary">Back to Books</button>
	</form>
</div>

