@model IEnumerable<MvcMovie.Models.Book>

@{
	ViewBag.Title = "Index";
}

<div ng-controller="MediaController">
	<h2>Books Index</h2>
	<button ng-model="button" go-click={{addBookButton}} class="btn btn-primary">Add a Book</button>
	<div class="container-fluid">
		<div class="row">
			<h4 class="col-xs-2">Title</h4>
			<h4 class="col-xs-2">Author</h4>
			<h4 class="col-xs-2">Publish Date</h4>
			<h4 class="col-xs-2">Genre</h4>
			<h4 class="col-xs-1">Price</h4>
			<h4 class="col-xs-1">Rating</h4>

		</div>
		<div class="movies container-fluid" ng-repeat="media in mediaData">
			<div class="day row">
				<div class="col-xs-2">{{ media.Title }}</div>
				<div class="col-xs-2">{{ media.Author }}</div>
				<div class="col-xs-2">{{ media.DatePublished | date: "longDate"}}</div>
				<div class="col-xs-2">{{  media.Genre }}</div>
				<div class="col-xs-1">{{  media.Price | currency}}</div>
				<div class="col-xs-1">{{ media.Rating}}</div>
				<div class="col-xs-2">
					<a ng-href="/Books/Edit/{{media.ID}}">Edit</a>
					<a ng-href="/Books/Details/{{media.ID}}">Details</a>
					<a ng-href="/Books/Delete/{{media.ID}}">Delete</a>
				</div>
			</div>
		</div>
	</div>
</div>

